@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-accent: #D94F30;
  --color-light: #faf7f5;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
